@mixin button ($bGround,$text,$border) {

    font-weight: bold;
    padding: 12px 10px;
    min-width: 150px;
    margin: 15px;
    position: relative;
    
    background-color: $bGround;
    color: $text;
    border-color: $border;
    outline: 0;
    box-shadow: none;

    &:active, &:focus, &:not(:disabled):not(.disabled):active:focus {
        background-color: $bGround;
        color: $text;
        border-color: $border;
        outline: 0;
        box-shadow: none;
    }

    &:hover {
        background-color: darken($bGround, 10%);
        color: $text;
        border-color: darken($border, 10%);
    }
}