// Color
$black: #000;
$white: #fff;

$orange : #fa7d2f;
$blue : #2d65bc;
$gray : #f8f8f8;
$darkBlue : #3567b6;
$lightBlue : #eef5fe;
$success: #85df89;
$wrong: #d95651;

// Borders nn
$borderBlue: #acc9fc;
$borderGray: #ccc;

// Buttons
$primaryButton: #3a7ce5;
$secondaryButton: #ff8984;
